.tutorial {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;



}
.tutorial h6{
    color: #000;

font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.tutorial h5{
    color: #000;

font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.tutorialImgs{
    display: flex;
}

.selectCar,.contact,.EnjoyRide{
    display: flex;
    width: 33%;

    flex-direction: column;
    align-items: center;
   
margin: 5vh 10vh;

}
.tutorial i{
    font-size: 5vw ;
}
.tutorial h4{
    font-size: 25px;
}
.tutorial p{
    padding-top: 3%;

    font-size: 1.5rem;
    line-height: 1.43;
    text-align: center;
   
    color: #706f7b;
   
}
@media screen and (min-width: 380px) and (max-width: 480px) {
   .tutorialImgs{
    flex-direction: column;
    justify-content: center;
    align-items: center;

   }
   .tutorial h6,h5,h4,p{
    text-align: center;
   }
   .selectCar,.contact,.EnjoyRide{
    width: 100%;
   }
    
    }