.whyChooseMainDiv{

 
background: url("/whyChooseBack.png");
background-repeat: no-repeat;
background-position: -50px 350px;
background-size: cover;
display: flex;
align-items: center;
flex-direction: column;
padding-bottom: 5%;

}
.whyChooseMainDiv img{
  
    width: 55%;
}
.textContainer{
display: flex;
justify-content: space-around;
align-items: center;
padding: 0% 3.5%
}
.textContainer p{
    color: #000;
}
.textContainer  a{
    display: flex;
 text-decoration: none;
 justify-content: space-around;
 font-size: 16px;
 font-weight: 600;

 color:#fff;
 


}
.textContainer button{
    width: 40%;
    height: 6vh;
    background-color: #2954EA;
    border: none;
    outline: none;
    margin-top: 4%;
}
.textContainer img{
   width: 10px;

}
.left{
    display: flex;
    flex-direction: column;
    width: 35%;
    

 
}
.right{
    width: 30%;
}
.right h4{
    font-size:1.5rem;
    margin-left: 2%;
}
.right i{
    font-size: 500%;



}
.right div{
   display: flex;
 padding: 3%;
   align-items: center;
}
.right p{
    font-weight: 200;
    font-size: 15px;
}
@media screen and (min-width: 380px) and (max-width: 480px) {
 .textContainer{
    flex-direction: column;
    display: 100%;

 }
 .whyChooseMainDiv{
    margin-top: 5%;

   
 }
 .left{
    width: 100%;
 }

 .left h4{
    font-size: 15px;
  

 }
 .left h2{

    font-size: 40px;
    font-weight: 800;
 }
 .left p{
    font-size: 20px;

 }
 .left button{
    
    margin:7% auto 7%;

 }
 .right{
    width: 100%;
 }
 .right i{
    display: block;
 }
   
    }